# Images
*.png binary
*.heic binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.apng binary
*.pdf binary

# Videos
*.mp4 binary
*.mov binary
*.webm binary

# Fonts
*.otf binary
*.ttf binary
*.ttc binary
*.otc binary

# Swift Package Resources
/CoreIME/Sources/CoreIME/Resources/** binary
/Preparing/Sources/Preparing/Resources/** binary
